First_2/Saved/Config/Windows/EditorPerProjectUserSettings.ini
First_2/Saved/Config/Windows/EditorPerProjectUserSettings.ini
First_2/Saved/Config/Windows/EditorPerProjectUserSettings.ini
First_2/Saved/Logs/First_2-backup-2016.09.29-13.14.12.log
First_2/Saved/Logs/First_2.log
First_2/Saved/Logs/UE4CC-Windows-4B0ED1434BF29753641A01BC76C77621/CrashReportClient.ini
First_2/Saved/Logs/First_2.log
First_2/Saved/Config/Windows/EditorPerProjectUserSettings.ini
First_2/Saved/Logs/First_2.log
First_2/Intermediate/CachedAssetRegistry.bin
First_2/Saved/AutoScreenshot.png
First_2/Saved/Config/Windows/Editor.ini